body {
	background-color: lightblue;
}

h1 {
	color: black;
	margin-left: 20 px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;

}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

